@using BlazorYuar.Data
@page "/counter"


    <div class="students">
        <p><b>Имя:</b></p>
        <p><input type="text" @bind-value="studname" /></p>
        <p><b>Фамилия:</b></p>
        <p><input type="text" @bind-value="studsur" /></p>
        <p><b>Возраст:</b></p>
        <p><input type="number" @bind-value="studyear" /></p>
        <p><b>Факультет:</b></p>
        <p><input type="text" @bind-value="studfaculty" /></p>
    </div>

<button class="btn btn-primary" @onclick="Regis">Registration</button>

@code {
    public static List<Student> studlist;
    private string studname;
    private string studsur;
    private int studyear;
    private string studfaculty;


    private void Regis()
    {
        Student.AddToList(studsur, studname,  studyear, studfaculty);
    }
}